<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MicroProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  		<servlet-name>IdentServlet</servlet-name>
  		<servlet-class>controller.IdentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>IdentServlet</servlet-name>
  		<url-pattern>/Identifier</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>InscServlet</servlet-name>
  		<servlet-class>controller.InscServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>InscServlet</servlet-name>
  		<url-pattern>/Inscrire</url-pattern>
  </servlet-mapping>
  <error-page>
  		<exception-type>com.mysql.jdbc.SQLError</exception-type>
  		<location>/WEB-INF/ErreurSQL.html</location>
  </error-page>  
  <error-page>
  		<error-code>500</error-code>
  		<location>/WEB-INF/ErreurServeur.html</location>
  </error-page>
  <servlet>
  		<servlet-name>ShowCatalogue</servlet-name>
  		<servlet-class>controller.ShowCatalogue</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>ShowCatalogue</servlet-name>
  		<url-pattern>/catalogue</url-pattern>
  </servlet-mapping>
  <servlet>
  		<servlet-name>ShowDetails</servlet-name>
  		<servlet-class>controller.ShowDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>ShowDetails</servlet-name>
  		<url-pattern>/Details</url-pattern>
  </servlet-mapping>
   <servlet>
  		<servlet-name>DemServlet</servlet-name>
  		<servlet-class>controller.DemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>DemServlet</servlet-name>
  		<url-pattern>/demandeArticle</url-pattern>
  </servlet-mapping>
</web-app>